[user]
	name = Bryan Hendryx
	email = bhendryx@bhg-inc.com
[core]
	editor = nvim
[color]
	ui = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[merge]
	conflictStyle = diff3
